.genre-list-container {
  margin-bottom: 2rem;
}

.genre-list-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.genre-button {
  background-color: #333;
  color: #fff;
  border: 2px solid transparent;
  padding: 1rem 2rem;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1);
}

.genre-button:hover {
  background-color: #555;
  transform: scale(1.1);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  border-color: #fff;
}



@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.4);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  }
}

.genre-list-loading,
.genre-list-error {
  padding: 1rem;
  text-align: center;
}
